* {
	margin:0;
	padding:0;
	font-size:16px;
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	box-sizing:border-box;
	border:none;
	border-radius:0;
	font-family:'Quicksand', sans-serif;
}









/* ============================================== */
/* GLOBAL STYLE:
/* ============================================== */

html,
body {
	display:flex;
	width:100%;
	height:100%;
	min-width:100vw;
	min-height:100vh;
	//background:purple;
	justify-content:center;
}

h1 {
	margin:0.5em;
	text-transform:uppercase;
}

.page-content-wraps {
	display:block;
	width:100%;
	height:100%;
	max-width:1280px;
	//background:green;
}

.input-wraps {
	display:flex;
	margin-bottom:1em;
	flex-direction:column;
}

.list-items {
	list-style:none;
	margin-bottom:1em;
}

.list-item-rows {
	display:flex;
	align-items:center;
	justify-content:space-between;
}

.more-boxes {
	display:flex;
	width:100%;
	height:2em;
	background:lightgray;
	align-items:center;
	justify-content:center;
	cursor:pointer;
}

.more-boxes .circles {
	width:0.3em;
	height:0.3em;
	margin:0.1em;
	border-radius:100%;
	background:gray;
}









/* ============================================== */
/* NAVIGATION MENU BAR:
/* ============================================== */

#site-logo {
	width:100px;
	height:100%;
	background:coral;
}

#main-header-bar-wrap {
	display:flex;
	position:absolute;
	top:0;
	left:0;
	align-items:center;
	justify-content:center;
	width:100%;
	height:60px;
	background:brown;
}

#main-header-bar {
	display:flex;
	width:100%;
	height:100%;
	max-width:1280px;  /* same as '.page-content-wraps' max-width */
	padding:0 1em;
	align-items:center;
	justify-content:space-between;
	//background:grey;
}

.retur-markers,
.class-markers {
	width:1.5em;
	height:1.5em;
	min-width:1.5em;
	min-height:1.5em;
	margin:0.5em;
	background:orange;
}









/* ============================================== */
/* HOME PAGE:
/* ============================================== */

.screen-size-sections {
	width:100%;
	height:100vh;
	background:blue;
}

#homepage-section1 {
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:60px; /* same as '#main-header-bar-wrap' height */
}

#homepage-first-widgets-container {
	display:flex;
	width:100%;
	background:yellow;
	align-items:stretch;
	justify-content:space-around;
}

.homepage-first-widgets {
	display:flex;
	min-width:300px;
	max-width:300px;
	flex-direction:column;
	justify-content:space-between;
	overflow:hidden;
	background:purple;
}

.homepage-first-widgets .widget-main-content {
	height:340px;
	background:red;
}

#homepage-history-list .list-items {
	background:white;
}

#homepage-history-list .flight-details {
	display:flex;
	align-items:center;
	background:lightgray;
	width:100%;
	justify-content:space-between;
}

#homepage-history-list .search-similar-links {
	padding:0.5em;
}

#homepage-package-list .list-items {
	display:flex;
	height:4em;
	margin:0;
	border-bottom:1px solid lightgray;
	align-items:center;
	justify-content:space-between;
	background:white;
}

#homepage-package-list .right-angles {
	display:flex;
	width:1em;
	height:100%;
	align-items:center;
	justify-content:center;
	background:orange;
}









/* ============================================== */
/* RESULTS PAGE:
/* ============================================== */

#resultpage-section1 {
	display:flex;
	margin-top:60px; /* same as '#main-header-bar-wrap' height */
	padding:1em;
}

#search-filter-wrap {
	background:white;
	min-width:300px; /* use min-width so flex-box won't collapse it on resize! */
	margin-right:1em;
}

#search-results-wrap {
	background:white;
	width:100%;  /* use normal width so flex-box can stretch it on resize! */
	height:10em;
}

#search-optimalization {
	display:flex;
	background:red;
}

#search-optimalization .options {
	width:100%;
	height:100px;
	margin:0.5em;
	border:1px solid lightgray;
}

#search-results {
	background:green;
	width:100%;
}